$color1: hsla(208%, 52%, 58%, 1);
$color2: hsla(106%, 57%, 33%, 1);
$color3: hsla(53%, 84%, 62%, 1);
$color4: hsla(42%, 100%, 91%, 1);
$color5: hsla(1%, 79%, 48%, 1);
$color6: hex(#FDEBDE);
$body-bg: transparent; 

.tikalBody {
    background: url(./images/largeTikal.png) no-repeat center center fixed ; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
}
.headerBody {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background: #FDEBDE;
    height: 25vh;
    width: 100%;
}
.sunriseLogo {
    background: url(/images/sunriseLogo.png);
    display: flex;
    height: 24em;
    width: 24em;
    margin-top: -11.98em;
    margin-left: 1em;
    border-radius: 50%;

    // display: flex;
    // height: 17em;
    // width: 17em;
    // margin-top: -8.49em;
    // margin-left: 1em;
    // border-radius: 50%;
    // transform: rotate(-1.6deg);
}
.footerBody {
    display: flex;
    align-self: flex-end;
    align-items: center;
    justify-content: center;
    background: $color1;
    height: 25vh;
    width: 100%;
}
.pageBody {
    height: 80vh;
}
.app {
    height: 100%;
    
}